USE [EasyPark]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 2024/11/11 上午 10:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[car_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[license_plate] [nvarchar](30) NOT NULL,
	[register_date] [datetime] NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[car_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupon]    Script Date: 2024/11/11 上午 10:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupon](
	[coupon_id] [int] IDENTITY(1,1) NOT NULL,
	[coupon_code] [nvarchar](50) NOT NULL,
	[discount_amount] [int] NULL,
	[valid_from] [datetime] NOT NULL,
	[valid_until] [datetime] NOT NULL,
	[is_used] [bit] NOT NULL,
	[user_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[coupon_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 2024/11/11 上午 10:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NULL,
	[password] [nvarchar](max) NULL,
	[salt] [nvarchar](max) NULL,
	[email] [nvarchar](255) NULL,
	[phone] [nvarchar](20) NULL,
	[register_date] [datetime] NULL,
	[blackCount] [int] NOT NULL,
	[is_black] [bit] NOT NULL,
	[token] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DealRecord]    Script Date: 2024/11/11 上午 10:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DealRecord](
	[deal_id] [int] IDENTITY(1,1) NOT NULL,
	[car_id] [int] NOT NULL,
	[amount] [int] NOT NULL,
	[payment_time] [datetime] NOT NULL,
	[parkType] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[deal_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EntryExitManagement]    Script Date: 2024/11/11 上午 10:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntryExitManagement](
	[entryexit_id] [int] IDENTITY(1,1) NOT NULL,
	[lot_id] [int] NOT NULL,
	[car_id] [int] NOT NULL,
	[parktype] [nvarchar](50) NOT NULL,
	[license_plate_photo] [nvarchar](max) NULL,
	[entry_time] [datetime] NULL,
	[license_plate_keyin_time] [datetime] NULL,
	[amount] [int] NULL,
	[payment_time] [datetime] NULL,
	[payment_status] [bit] NOT NULL,
	[valid_time] [datetime] NULL,
	[exit_time] [datetime] NULL,
	[is_finish] [bit] NOT NULL,
 CONSTRAINT [PK__EntryExi__FD3EA5F6174CE504] PRIMARY KEY CLUSTERED 
(
	[entryexit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LineBinding]    Script Date: 2024/11/11 上午 10:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LineBinding](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[lineUser_id] [nvarchar](50) NOT NULL,
	[createdAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonApplyList]    Script Date: 2024/11/11 上午 10:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonApplyList](
	[apply_id] [int] IDENTITY(1,1) NOT NULL,
	[car_id] [int] NOT NULL,
	[lot_id] [int] NOT NULL,
	[apply_date] [datetime] NULL,
	[apply_status] [nvarchar](50) NOT NULL,
	[notification_status] [bit] NOT NULL,
	[is_canceled] [bit] NOT NULL,
 CONSTRAINT [PK__MonApply__8260CA82C6807790] PRIMARY KEY CLUSTERED 
(
	[apply_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonthlyRental]    Script Date: 2024/11/11 上午 10:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthlyRental](
	[ren_id] [int] IDENTITY(1,1) NOT NULL,
	[car_id] [int] NOT NULL,
	[lot_id] [int] NOT NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[amount] [int] NOT NULL,
	[payment_status] [bit] NOT NULL,
	[TransactionId] [nvarchar](50) NULL,
 CONSTRAINT [PK__MonthlyR__5833C152FA762C76] PRIMARY KEY CLUSTERED 
(
	[ren_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingLotImages]    Script Date: 2024/11/11 上午 10:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingLotImages](
	[image_id] [int] IDENTITY(1,1) NOT NULL,
	[lot_id] [int] NULL,
	[imgTitle] [nvarchar](max) NULL,
	[imgPath] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingLots]    Script Date: 2024/11/11 上午 10:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingLots](
	[lot_id] [int] NOT NULL,
	[district] [nvarchar](50) NULL,
	[type] [nvarchar](50) NULL,
	[lot_name] [nvarchar](255) NULL,
	[location] [nvarchar](250) NULL,
	[MonRentalSpace] [int] NOT NULL,
	[smallCarSpace] [int] NOT NULL,
	[etcSpace] [int] NOT NULL,
	[motoSpace] [int] NOT NULL,
	[motherSpace] [int] NOT NULL,
	[RateRules] [nvarchar](max) NULL,
	[weekdayRate] [int] NOT NULL,
	[holidayRate] [int] NOT NULL,
	[ResDeposit] [int] NOT NULL,
	[MonRentalRate] [int] NOT NULL,
	[opendoorTime] [nvarchar](150) NULL,
	[tel] [nvarchar](100) NOT NULL,
	[latitude] [decimal](18, 10) NULL,
	[longitude] [decimal](18, 15) NULL,
	[validSpace] [int] NOT NULL,
	[ResOverdueValidTimeSet] [int] NOT NULL,
 CONSTRAINT [PK_ParkingLots] PRIMARY KEY CLUSTERED 
(
	[lot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParkingSlot]    Script Date: 2024/11/11 上午 10:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParkingSlot](
	[slot_id] [int] IDENTITY(1,1) NOT NULL,
	[lot_id] [int] NOT NULL,
	[slot_num] [int] NULL,
	[is_Rented] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[slot_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 2024/11/11 上午 10:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[res_id] [int] IDENTITY(1,1) NOT NULL,
	[car_id] [int] NOT NULL,
	[lot_id] [int] NOT NULL,
	[res_time] [datetime] NULL,
	[valid_until] [datetime] NULL,
	[start_time] [datetime] NULL,
	[payment_status] [bit] NOT NULL,
	[is_canceled] [bit] NOT NULL,
	[is_overdue] [bit] NOT NULL,
	[is_refound_deposit] [bit] NOT NULL,
	[notification_status] [bit] NOT NULL,
	[is_finish] [bit] NOT NULL,
	[TransactionId] [nvarchar](50) NULL,
 CONSTRAINT [PK__Reservat__2090B50D7D0EB7C2] PRIMARY KEY CLUSTERED 
(
	[res_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Revenue]    Script Date: 2024/11/11 上午 10:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Revenue](
	[revenue_id] [int] IDENTITY(1,1) NOT NULL,
	[date] [date] NOT NULL,
	[total_amount] [int] NOT NULL,
	[rental_income] [int] NOT NULL,
	[reservation_income] [int] NOT NULL,
	[created_time] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[revenue_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Survey]    Script Date: 2024/11/11 上午 10:15:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Survey](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[question] [nvarchar](max) NOT NULL,
	[reply_message] [nvarchar](max) NULL,
	[is_replied] [bit] NOT NULL,
	[submitted_at] [datetime] NOT NULL,
	[replied_at] [datetime] NULL,
	[status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Car] ON 

INSERT [dbo].[Car] ([car_id], [user_id], [license_plate], [register_date], [is_active]) VALUES (1, 1, N'ABC8787', CAST(N'2024-10-17T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Car] ([car_id], [user_id], [license_plate], [register_date], [is_active]) VALUES (2, 2, N'TRT7788', CAST(N'2024-10-22T10:20:39.523' AS DateTime), 1)
INSERT [dbo].[Car] ([car_id], [user_id], [license_plate], [register_date], [is_active]) VALUES (3, 3, N'ASE7878', CAST(N'2024-10-23T23:42:02.863' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Car] OFF
GO
SET IDENTITY_INSERT [dbo].[Coupon] ON 

INSERT [dbo].[Coupon] ([coupon_id], [coupon_code], [discount_amount], [valid_from], [valid_until], [is_used], [user_id]) VALUES (1, N'878787', 30, CAST(N'2024-01-01T00:00:00.000' AS DateTime), CAST(N'2024-12-31T00:00:00.000' AS DateTime), 1, 2)
INSERT [dbo].[Coupon] ([coupon_id], [coupon_code], [discount_amount], [valid_from], [valid_until], [is_used], [user_id]) VALUES (2, N'787878', 50, CAST(N'2024-01-01T00:00:00.000' AS DateTime), CAST(N'2024-12-31T00:00:00.000' AS DateTime), 0, 2)
INSERT [dbo].[Coupon] ([coupon_id], [coupon_code], [discount_amount], [valid_from], [valid_until], [is_used], [user_id]) VALUES (3, N'887878', 100, CAST(N'2024-01-01T00:00:00.000' AS DateTime), CAST(N'2024-12-31T00:00:00.000' AS DateTime), 0, 2)
SET IDENTITY_INSERT [dbo].[Coupon] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([user_id], [username], [password], [salt], [email], [phone], [register_date], [blackCount], [is_black], [token]) VALUES (1, N'蔣昀真', N'test123', N'test123', N'8787@gmail.com', N'0987887877', CAST(N'2024-10-17T14:20:00.000' AS DateTime), 0, 0, NULL)
INSERT [dbo].[Customer] ([user_id], [username], [password], [salt], [email], [phone], [register_date], [blackCount], [is_black], [token]) VALUES (2, N'三稻侯子', N'djF3d6v086hQ6CqC1ThnzbCExH0/Safs9/4zvujovVya/yKJ6FQnakI/FIdkZnqO', N'QG/Gm5J2T3zbOlLnndEXHg==', N'monkey@gmail.com', N'0912546987', CAST(N'2024-10-22T10:20:39.413' AS DateTime), 3, 1, NULL)
INSERT [dbo].[Customer] ([user_id], [username], [password], [salt], [email], [phone], [register_date], [blackCount], [is_black], [token]) VALUES (3, N'金美頌', N'u3EsM6Mv9rm4Dy6HF+p2C08gzdnuduSkuOtPWrSiaBI5Ws7pufDWcE5WTgFzA7+k', N'ChI77nEUJdhKJysa+f/PEw==', N'hh@gmail.com', N'Null', CAST(N'2024-10-23T23:42:02.807' AS DateTime), 0, 0, NULL)
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[DealRecord] ON 

INSERT [dbo].[DealRecord] ([deal_id], [car_id], [amount], [payment_time], [parkType]) VALUES (1, 4, 3000, CAST(N'2024-11-07T14:03:48.447' AS DateTime), N'margin')
INSERT [dbo].[DealRecord] ([deal_id], [car_id], [amount], [payment_time], [parkType]) VALUES (2, 4, 3000, CAST(N'2024-11-07T14:07:36.227' AS DateTime), N'margin')
INSERT [dbo].[DealRecord] ([deal_id], [car_id], [amount], [payment_time], [parkType]) VALUES (3, 11, 3000, CAST(N'2024-11-07T14:29:17.123' AS DateTime), N'margin')
SET IDENTITY_INSERT [dbo].[DealRecord] OFF
GO
SET IDENTITY_INSERT [dbo].[EntryExitManagement] ON 

INSERT [dbo].[EntryExitManagement] ([entryexit_id], [lot_id], [car_id], [parktype], [license_plate_photo], [entry_time], [license_plate_keyin_time], [amount], [payment_time], [payment_status], [valid_time], [exit_time], [is_finish]) VALUES (1, 1, 11, N'Reservation', N'ALX8225_20241107_142953.png', CAST(N'2024-11-07T14:29:53.703' AS DateTime), NULL, NULL, NULL, 0, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[EntryExitManagement] OFF
GO
SET IDENTITY_INSERT [dbo].[MonthlyRental] ON 

INSERT [dbo].[MonthlyRental] ([ren_id], [car_id], [lot_id], [start_date], [end_date], [amount], [payment_status], [TransactionId]) VALUES (1, 1005, 1, CAST(N'2024-12-01T12:31:00.000' AS DateTime), CAST(N'2025-12-01T12:31:00.000' AS DateTime), 28800, 1, N'1731040728252')
INSERT [dbo].[MonthlyRental] ([ren_id], [car_id], [lot_id], [start_date], [end_date], [amount], [payment_status], [TransactionId]) VALUES (2, 1005, 1, CAST(N'2024-12-01T13:07:00.000' AS DateTime), CAST(N'2025-12-01T13:07:00.000' AS DateTime), 28800, 0, N'MyGo20241108130735')
INSERT [dbo].[MonthlyRental] ([ren_id], [car_id], [lot_id], [start_date], [end_date], [amount], [payment_status], [TransactionId]) VALUES (3, 1005, 1, CAST(N'2025-02-01T13:16:00.000' AS DateTime), CAST(N'2026-02-01T13:16:00.000' AS DateTime), 28800, 0, N'MyGo20241108131808')
SET IDENTITY_INSERT [dbo].[MonthlyRental] OFF
GO
SET IDENTITY_INSERT [dbo].[ParkingLotImages] ON 

INSERT [dbo].[ParkingLotImages] ([image_id], [lot_id], [imgTitle], [imgPath]) VALUES (1, 59, N'三民家商', N'https://raw.githubusercontent.com/susan860401/MyGoParking/refs/heads/A1021/public/%E4%B8%89%E6%B0%91%E5%AE%B6%E5%95%86.jpg')
INSERT [dbo].[ParkingLotImages] ([image_id], [lot_id], [imgTitle], [imgPath]) VALUES (2, 1, N'青雨停車場', N'https://raw.githubusercontent.com/susan860401/MyGoParking/refs/heads/A1021/public/%E9%9D%92%E9%9B%A8%E5%81%9C%E8%BB%8A%E5%A0%B4.png')
INSERT [dbo].[ParkingLotImages] ([image_id], [lot_id], [imgTitle], [imgPath]) VALUES (3, 54, N'裕誠篤敬停車場', N'https://raw.githubusercontent.com/susan860401/MyGoParking/refs/heads/A1021/public/%E8%A3%95%E8%AA%A0.png')
SET IDENTITY_INSERT [dbo].[ParkingLotImages] OFF
GO
INSERT [dbo].[ParkingLots] ([lot_id], [district], [type], [lot_name], [location], [MonRentalSpace], [smallCarSpace], [etcSpace], [motoSpace], [motherSpace], [RateRules], [weekdayRate], [holidayRate], [ResDeposit], [MonRentalRate], [opendoorTime], [tel], [latitude], [longitude], [validSpace], [ResOverdueValidTimeSet]) VALUES (1, N'鼓山區', N'平面', N'青雨停車場', N'龍華段八小段2393-1地號（文忠路39號旁）', 4, 28, 5, 137, 3, N'每半小時25元。', 60, 0, 5000, 3000, N'24', N'0978238653', CAST(22.6651187800 AS Decimal(18, 10)), CAST(120.301805700000000 AS Decimal(18, 15)), 9, 1)
INSERT [dbo].[ParkingLots] ([lot_id], [district], [type], [lot_name], [location], [MonRentalSpace], [smallCarSpace], [etcSpace], [motoSpace], [motherSpace], [RateRules], [weekdayRate], [holidayRate], [ResDeposit], [MonRentalRate], [opendoorTime], [tel], [latitude], [longitude], [validSpace], [ResOverdueValidTimeSet]) VALUES (2, N'左營區', N'建物立體', N'高雄巨蛋計時停車場', N'新博段36、37地號（博愛二路767、777號地下二、三層）(南屏路、新榮街)', 0, 1467, 20, 0, 30, N'每小時50元', 50, 0, 0, 0, N'08:00~24:00', N'07-556654(保安課劉股長)', CAST(22.6679800000 AS Decimal(18, 10)), CAST(120.300700000000000 AS Decimal(18, 15)), 6, 0)
INSERT [dbo].[ParkingLots] ([lot_id], [district], [type], [lot_name], [location], [MonRentalSpace], [smallCarSpace], [etcSpace], [motoSpace], [motherSpace], [RateRules], [weekdayRate], [holidayRate], [ResDeposit], [MonRentalRate], [opendoorTime], [tel], [latitude], [longitude], [validSpace], [ResOverdueValidTimeSet]) VALUES (3, N'左營區', N'平面', N'欣榮機車停車場', N'新博段9地號土地(巨蛋後方新榮街近新莊一路)', 0, 0, 0, 80, 0, N'計次收費：每次30元(跨日則另計次收費)。', 40, 0, 0, 0, N'24', N'0910860237	', CAST(22.6700200000 AS Decimal(18, 10)), CAST(120.301460000000000 AS Decimal(18, 15)), 5, 0)
GO
SET IDENTITY_INSERT [dbo].[ParkingSlot] ON 

INSERT [dbo].[ParkingSlot] ([slot_id], [lot_id], [slot_num], [is_Rented]) VALUES (1, 54, 1, 0)
INSERT [dbo].[ParkingSlot] ([slot_id], [lot_id], [slot_num], [is_Rented]) VALUES (2, 54, 2, 0)
INSERT [dbo].[ParkingSlot] ([slot_id], [lot_id], [slot_num], [is_Rented]) VALUES (3, 54, 3, 0)
SET IDENTITY_INSERT [dbo].[ParkingSlot] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservation] ON 

INSERT [dbo].[Reservation] ([res_id], [car_id], [lot_id], [res_time], [valid_until], [start_time], [payment_status], [is_canceled], [is_overdue], [is_refound_deposit], [notification_status], [is_finish], [TransactionId]) VALUES (1003, 4, 1, CAST(N'2024-11-10T00:09:28.897' AS DateTime), CAST(N'2024-11-10T00:18:00.000' AS DateTime), CAST(N'2024-11-10T00:15:00.000' AS DateTime), 1, 0, 0, 0, 0, 0, N'1731168568359')
INSERT [dbo].[Reservation] ([res_id], [car_id], [lot_id], [res_time], [valid_until], [start_time], [payment_status], [is_canceled], [is_overdue], [is_refound_deposit], [notification_status], [is_finish], [TransactionId]) VALUES (1004, 4, 1, CAST(N'2024-11-10T00:12:49.503' AS DateTime), CAST(N'2024-11-10T00:15:00.000' AS DateTime), CAST(N'2024-11-10T00:20:00.000' AS DateTime), 1, 0, 1, 0, 1, 1, N'1731168768992')
INSERT [dbo].[Reservation] ([res_id], [car_id], [lot_id], [res_time], [valid_until], [start_time], [payment_status], [is_canceled], [is_overdue], [is_refound_deposit], [notification_status], [is_finish], [TransactionId]) VALUES (1005, 10, 1, CAST(N'2024-11-10T22:18:09.037' AS DateTime), CAST(N'2024-11-10T22:28:00.000' AS DateTime), CAST(N'2024-11-10T22:25:00.000' AS DateTime), 1, 0, 1, 0, 1, 1, N'1731248288492')
SET IDENTITY_INSERT [dbo].[Reservation] OFF
GO
SET IDENTITY_INSERT [dbo].[Survey] ON 

INSERT [dbo].[Survey] ([id], [user_id], [question], [reply_message], [is_replied], [submitted_at], [replied_at], [status]) VALUES (2, 5, N'出不去餒~', NULL, 0, CAST(N'2024-11-07T14:33:20.237' AS DateTime), NULL, N'未回覆')
INSERT [dbo].[Survey] ([id], [user_id], [question], [reply_message], [is_replied], [submitted_at], [replied_at], [status]) VALUES (3, 6, N'我被閘門敲到了', NULL, 0, CAST(N'2024-11-07T14:33:20.237' AS DateTime), NULL, N'未回覆')
INSERT [dbo].[Survey] ([id], [user_id], [question], [reply_message], [is_replied], [submitted_at], [replied_at], [status]) VALUES (4, 1, N'月租甚麼時候有位置', NULL, 0, CAST(N'2024-11-07T14:33:20.237' AS DateTime), NULL, N'未回覆')
SET IDENTITY_INSERT [dbo].[Survey] OFF
GO
ALTER TABLE [dbo].[Car] ADD  DEFAULT (getdate()) FOR [register_date]
GO
ALTER TABLE [dbo].[Car] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Coupon] ADD  DEFAULT ((0)) FOR [is_used]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT (getdate()) FOR [register_date]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((0)) FOR [blackCount]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((0)) FOR [is_black]
GO
ALTER TABLE [dbo].[EntryExitManagement] ADD  CONSTRAINT [DF__EntryExit__payme__76EBA2E9]  DEFAULT ((0)) FOR [payment_status]
GO
ALTER TABLE [dbo].[EntryExitManagement] ADD  CONSTRAINT [DF__EntryExit__is_fi__77DFC722]  DEFAULT ((0)) FOR [is_finish]
GO
ALTER TABLE [dbo].[MonApplyList] ADD  CONSTRAINT [DF__MonApplyL__apply__35DCF99B]  DEFAULT ('pending') FOR [apply_status]
GO
ALTER TABLE [dbo].[MonApplyList] ADD  CONSTRAINT [DF__MonApplyL__notif__36D11DD4]  DEFAULT ((0)) FOR [notification_status]
GO
ALTER TABLE [dbo].[MonApplyList] ADD  CONSTRAINT [DF__MonApplyL__is_ca__37C5420D]  DEFAULT ((0)) FOR [is_canceled]
GO
ALTER TABLE [dbo].[MonthlyRental] ADD  CONSTRAINT [DF__MonthlyRe__payme__7226EDCC]  DEFAULT ((0)) FOR [payment_status]
GO
ALTER TABLE [dbo].[ParkingLots] ADD  CONSTRAINT [DF_ParkingLots_bigCarSpace]  DEFAULT ((0)) FOR [MonRentalSpace]
GO
ALTER TABLE [dbo].[ParkingLots] ADD  CONSTRAINT [DF_ParkingLots_smallCarSpace]  DEFAULT ((0)) FOR [smallCarSpace]
GO
ALTER TABLE [dbo].[ParkingLots] ADD  CONSTRAINT [DF_ParkingLots_etcSpace]  DEFAULT ((0)) FOR [etcSpace]
GO
ALTER TABLE [dbo].[ParkingLots] ADD  CONSTRAINT [DF_ParkingLots_motoSpace]  DEFAULT ((0)) FOR [motoSpace]
GO
ALTER TABLE [dbo].[ParkingLots] ADD  CONSTRAINT [DF_ParkingLots_motherSpace]  DEFAULT ((0)) FOR [motherSpace]
GO
ALTER TABLE [dbo].[ParkingLots] ADD  CONSTRAINT [DF_ParkingLots_weekdayRate]  DEFAULT ((0)) FOR [weekdayRate]
GO
ALTER TABLE [dbo].[ParkingLots] ADD  CONSTRAINT [DF_ParkingLots_holidayRate]  DEFAULT ((0)) FOR [holidayRate]
GO
ALTER TABLE [dbo].[ParkingLots] ADD  CONSTRAINT [DF_ParkingLots_ResDeposit]  DEFAULT ((0)) FOR [ResDeposit]
GO
ALTER TABLE [dbo].[ParkingLots] ADD  CONSTRAINT [DF_ParkingLots_MonRentalRate]  DEFAULT ((0)) FOR [MonRentalRate]
GO
ALTER TABLE [dbo].[ParkingLots] ADD  CONSTRAINT [DF_ParkingLots_tel]  DEFAULT (N'empty') FOR [tel]
GO
ALTER TABLE [dbo].[ParkingLots] ADD  CONSTRAINT [DF_ParkingLots_validSpace]  DEFAULT ((0)) FOR [validSpace]
GO
ALTER TABLE [dbo].[ParkingLots] ADD  CONSTRAINT [DF_ParkingLots_ResOverdueValidTimeSet]  DEFAULT ((0)) FOR [ResOverdueValidTimeSet]
GO
ALTER TABLE [dbo].[ParkingSlot] ADD  DEFAULT ((0)) FOR [is_Rented]
GO
ALTER TABLE [dbo].[Reservation] ADD  CONSTRAINT [DF__Reservati__payme__689D8392]  DEFAULT ((0)) FOR [payment_status]
GO
ALTER TABLE [dbo].[Reservation] ADD  CONSTRAINT [DF__Reservati__is_ca__6991A7CB]  DEFAULT ((0)) FOR [is_canceled]
GO
ALTER TABLE [dbo].[Reservation] ADD  CONSTRAINT [DF__Reservati__is_ov__6A85CC04]  DEFAULT ((0)) FOR [is_overdue]
GO
ALTER TABLE [dbo].[Reservation] ADD  CONSTRAINT [DF__Reservati__is_re__6B79F03D]  DEFAULT ((0)) FOR [is_refound_deposit]
GO
ALTER TABLE [dbo].[Reservation] ADD  CONSTRAINT [DF__Reservati__notif__6C6E1476]  DEFAULT ((0)) FOR [notification_status]
GO
ALTER TABLE [dbo].[Reservation] ADD  CONSTRAINT [DF__Reservati__is_fi__6D6238AF]  DEFAULT ((0)) FOR [is_finish]
GO
ALTER TABLE [dbo].[Revenue] ADD  DEFAULT (getdate()) FOR [created_time]
GO
ALTER TABLE [dbo].[Survey] ADD  DEFAULT ((0)) FOR [is_replied]
GO
ALTER TABLE [dbo].[Survey] ADD  DEFAULT ('未回覆') FOR [status]
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD  CONSTRAINT [FK_Car_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Customer] ([user_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Car] CHECK CONSTRAINT [FK_Car_User]
GO
ALTER TABLE [dbo].[Coupon]  WITH CHECK ADD  CONSTRAINT [FK_Coupon_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Customer] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Coupon] CHECK CONSTRAINT [FK_Coupon_User]
GO
ALTER TABLE [dbo].[DealRecord]  WITH CHECK ADD  CONSTRAINT [FK_DealRecord] FOREIGN KEY([car_id])
REFERENCES [dbo].[Car] ([car_id])
GO
ALTER TABLE [dbo].[DealRecord] CHECK CONSTRAINT [FK_DealRecord]
GO
ALTER TABLE [dbo].[EntryExitManagement]  WITH CHECK ADD  CONSTRAINT [FK_EntryExit_Car] FOREIGN KEY([car_id])
REFERENCES [dbo].[Car] ([car_id])
GO
ALTER TABLE [dbo].[EntryExitManagement] CHECK CONSTRAINT [FK_EntryExit_Car]
GO
ALTER TABLE [dbo].[EntryExitManagement]  WITH CHECK ADD  CONSTRAINT [FK_EntryExit_Lot] FOREIGN KEY([lot_id])
REFERENCES [dbo].[ParkingLots] ([lot_id])
GO
ALTER TABLE [dbo].[EntryExitManagement] CHECK CONSTRAINT [FK_EntryExit_Lot]
GO
ALTER TABLE [dbo].[LineBinding]  WITH CHECK ADD  CONSTRAINT [FK_LineBinding_Customer] FOREIGN KEY([user_id])
REFERENCES [dbo].[Customer] ([user_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LineBinding] CHECK CONSTRAINT [FK_LineBinding_Customer]
GO
ALTER TABLE [dbo].[MonApplyList]  WITH CHECK ADD  CONSTRAINT [FK_MonApplyList_Car] FOREIGN KEY([car_id])
REFERENCES [dbo].[Car] ([car_id])
GO
ALTER TABLE [dbo].[MonApplyList] CHECK CONSTRAINT [FK_MonApplyList_Car]
GO
ALTER TABLE [dbo].[MonApplyList]  WITH CHECK ADD  CONSTRAINT [FK_MonApplyList_Lot] FOREIGN KEY([lot_id])
REFERENCES [dbo].[ParkingLots] ([lot_id])
GO
ALTER TABLE [dbo].[MonApplyList] CHECK CONSTRAINT [FK_MonApplyList_Lot]
GO
ALTER TABLE [dbo].[MonthlyRental]  WITH CHECK ADD  CONSTRAINT [FK_MonthlyRental_Car] FOREIGN KEY([car_id])
REFERENCES [dbo].[Car] ([car_id])
GO
ALTER TABLE [dbo].[MonthlyRental] CHECK CONSTRAINT [FK_MonthlyRental_Car]
GO
ALTER TABLE [dbo].[MonthlyRental]  WITH CHECK ADD  CONSTRAINT [FK_MonthlyRental_Lot] FOREIGN KEY([lot_id])
REFERENCES [dbo].[ParkingLots] ([lot_id])
GO
ALTER TABLE [dbo].[MonthlyRental] CHECK CONSTRAINT [FK_MonthlyRental_Lot]
GO
ALTER TABLE [dbo].[ParkingLotImages]  WITH CHECK ADD  CONSTRAINT [FK_ParkingLotImages_Lot] FOREIGN KEY([lot_id])
REFERENCES [dbo].[ParkingLots] ([lot_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ParkingLotImages] CHECK CONSTRAINT [FK_ParkingLotImages_Lot]
GO
ALTER TABLE [dbo].[ParkingSlot]  WITH CHECK ADD  CONSTRAINT [FK_lotName] FOREIGN KEY([lot_id])
REFERENCES [dbo].[ParkingLots] ([lot_id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ParkingSlot] CHECK CONSTRAINT [FK_lotName]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Car] FOREIGN KEY([car_id])
REFERENCES [dbo].[Car] ([car_id])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_Car]
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Lot] FOREIGN KEY([lot_id])
REFERENCES [dbo].[ParkingLots] ([lot_id])
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [FK_Reservation_Lot]
GO
ALTER TABLE [dbo].[Survey]  WITH CHECK ADD  CONSTRAINT [FK_Survey_Customer] FOREIGN KEY([user_id])
REFERENCES [dbo].[Customer] ([user_id])
GO
ALTER TABLE [dbo].[Survey] CHECK CONSTRAINT [FK_Survey_Customer]
GO
